@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #000;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
}

.wrapper {
    width: 1241px;
    margin: 0px auto;
}

.logo {
    margin-top: 75px;
}
header ul.nav {
    margin-top: 65px;
    float: right;
    list-style: none;
}

header ul.nav li {
    display: inline-block;
    margin-left: 40px;
    cursor: pointer;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

.button-request {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    margin-left: 40px;
    border-radius: 14px;
    width: 231px;
    height: 68px;
    background-color: #fff;
    border: 1px solid #000

}

.main-section {
    position: relative;
    display: flex;
    margin-top: 70px;
}
.text-section {
    width: 531px;
}

h1 {
    font-size: 60px;
}

h2 {
    height: 52px;
    border-radius: 7px;
    margin: 0;
    padding: 0 7px 0 7px;
    background-color: #B9FF66;
    font-size: 40px;
}

p {
    margin-top: 35px;
    font-size: 20px;
}


.button-consultation {
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    border-radius: 14px;
    width: 264px;
    height: 68px;
    background-color: #000;
    color: #fff;
    border: none;
    margin-top: 35px;
}
.Illustration {
    position: absolute;
    right: 0;
    top: 0;
}

.logotypes {
    display: flex;
    margin-top: 70px;
    text-align: center;
    justify-content:space-between;
}

.subheading {
    margin-top: 140px;
    display: flex;
    max-width: 895px;
}

.subheading p {
    margin: 0 40px;
}
